@media (max-width: 1187px) {
    .destop{
        display: none;
    }
}
@media (max-width: 1580px) {
    .isigejala{
        padding: 100px 20px;
    }
}
@media (max-width: 1484px) {
    /* .isicegah{
        padding: 0px 100px 100px 100px;
    } */
    .column h1{
        padding-top: 30px;
    }
    .column img{
        margin: 40px 0px 0px 120px;
        width: 120px;
        height: 120px;
    }
    .overlay-3, .overlay-4{
        display: none;
    }
}
@media (max-width: 1440px) {
    #talkbubble2{
        margin-left: 50px;
        margin-right: 30px;
    }
}
@media (max-width: 1400px) {
    .use{
        padding: 250px 350px;
    }
    .user{
        height: 280px;
    }
    #slideshow {
        width: 100%;
    }
    .aa {
        width: 2400px;
    }
    .aa section {
        width: 400px;
        height: 430px;
        float:left;
    }
}
@media (max-width: 1375px) {
    .welcome{
        height: 100%;
    }
    .welc{
        padding: 300px 50px 270px 50px;
    }
    #talkbubble2 h2{
        font-size: 28px;
    }
}
@media (max-width: 1347px) {
    .isiwhat img{
        margin-left: 50px;
    }
    .isiwhat p{
        margin: 30px 50px 0px -110px;
    }
}
@media (max-width: 1296px) {
    .isicegah{
        padding: 0px 70px 100px 70px;
    }
    .column img{
        margin: 40px 0px 0px 60px;
    }
}
@media (max-width: 1280px) {
    #talkbubble{
        width: 15%;
        margin-left: 70px;
    }
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1250px;}
        /* 78% {left:-1600px;} */
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1250px;}
        /* 78% {left:-1600px;} */
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1250px;}
        /* 78% {left:-1600px;} */
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1250px;}
        /* 78% {left:-1600px;} */
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1250px;}
        /* 78% {left:-1600px;} */
        100% {left:0;}
    }
}
@media (max-width: 1120px) {
    .welc{
        max-width: 80%;
    }
    .welc p{
        font-size: 18px;
        line-height: 30px;
        width: 80%;
    }
    .anda{
        padding: 0px;
    }
}
@media (max-width: 1100px) {
    .isiwhat{
        padding: 80px 0px;
    }
    .isiwhat img{
        margin-left: 30px;
    }
    .isiwhat p{
        margin: 40px 50px 0px -100px;
    }
}
@media (max-width: 1160px) {
    .data{
        height: 30vh;
    }
    .count{
        font-size: 35px;
    }
}
@media (max-width: 1072px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1400px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1400px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1400px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1400px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1400px;}
        100% {left:0;}
    }
}
@media (max-width: 1120px) {
    .welc{
        max-width: 80%;
    }
    .welc p{
        font-size: 18px;
        line-height: 30px;
        width: 80%;
    }
    .anda{
        padding: 0px;
    }
}
@media (max-width: 990px) {
    .welc{
        max-width: 100%;
    }
    .what h1{
        padding: 0px 20px;
    }
    .isiwhat{
        width: 100%;
        padding: 50px 0px 50px 0px;
        text-align: center;
    }
    .isiwhat img{
        text-align: center;
    }
    .isiwhat p{
        margin: 20px 30px 50px 30px;
    }
}
@media (max-width: 1175px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1500px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1300px;}
        78% {left:-1500px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1300px;}
        78% {left:-1500px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1300px;}
        78% {left:-1500px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1300px;}
        78% {left:-1500px;}
        100% {left:0;}
    }
}
@media (max-width: 900px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1600px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1600px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1600px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1600px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1600px;}
        100% {left:0;}
    }
}
@media (max-width: 867px) {
    .column h1{
        padding-top: 0px;
    }
    .column p, .column h3{
        width: 100%;
    }
    .column img{
        margin: 80px 0px 0px 60px;
        width: 90px;
        height: 90px;
    }
}
@media (max-width: 780px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1700px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1700px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1700px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1700px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1700px;}
        100% {left:0;}
    }
}
@media (max-width: 747px) {
    .isicegah{
        padding: 0px 30px 100px 30px;
    }
    .column{
        width: 100%;
        text-align: center;
    }
    .footer{
        padding: 15px 50px 30px 50px;
    }
    .column p, .column h3{
        display: none;
    }
    .column img{
        margin: 0px 40px 50px 50px;
        width: 130px;
        height: 130px;
    }
}
@media (max-width: 693px) {
    .data{
        height: 80vmax;
    }
    #talkbubble, #talkbubble2{
        width: 100%;
        text-align: center;
    }
    #talkbubble{
        margin-top: 30px;
        margin-left: 0px;
    }
    #talkbubble2{
        padding: 0px 10px;
        margin: 0px;
    }
    @-webkit-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1820px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1820px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1820px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1820px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        17% {left:-400px;}
        34% {left:-800px;}
        61% {left:-1200px;}
        78% {left:-1820px;}
        100% {left:0;}
    }
}
@media (max-width: 565px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
}
@media (max-width: 490px) {
    .welc{
        padding: 250px 30px;
    }
    .welc h1{
        font-size: 60px;
    }
    .isiwhat img{
        margin-left: 0px;
    }
}
@media (max-width: 400px) {
    .welc h1, .logo2{
        font-size: 50px;
    }
    .welc h2{
        font-size: 30px;
    }
    .welc p{
        font-size: 16px;
        width: 90%;
    }
    .isiwhat img{
        width: 280px;
        height: 280px;
    }
    .isiwhat p{
        font-size: 16px;
        margin: 0px 30px 30px 30px;
    }
    .gjl{
        margin: 0px 100px;
    }
    /* @-webkit-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        16% {left:-420px;}
        32% {left:-820px;}
        48% {left:-1240px;}
        64% {left:-1620px;}
        80% {left:-2020px;}
        100% {left:0;}
    } */
    .footer{
        padding: 15px 10px 30px 10px;
    }
}
@media (max-width: 350px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        16% {left:-450px;}
        32% {left:-850px;}
        48% {left:-1250px;}
        64% {left:-1650px;}
        80% {left:-2080px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        16% {left:-450px;}
        32% {left:-850px;}
        48% {left:-1250px;}
        64% {left:-1650px;}
        80% {left:-2080px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        16% {left:-450px;}
        32% {left:-850px;}
        48% {left:-1250px;}
        64% {left:-1650px;}
        80% {left:-2080px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        16% {left:-450px;}
        32% {left:-850px;}
        48% {left:-1250px;}
        64% {left:-1650px;}
        80% {left:-2080px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        16% {left:-450px;}
        32% {left:-850px;}
        48% {left:-1250px;}
        64% {left:-1650px;}
        80% {left:-2080px;}
        100% {left:0;}
    }
}
@media (max-width: 300px) {
    @-webkit-keyframes slide {
        0% {left:0;}
        16% {left:-470px;}
        32% {left:-870px;}
        48% {left:-1270px;}
        64% {left:-1670px;}
        80% {left:-2100px;}
        100% {left:0;}
    }
    @-moz-keyframes slide {
        0% {left:0;}
        16% {left:-470px;}
        32% {left:-870px;}
        48% {left:-1270px;}
        64% {left:-1670px;}
        80% {left:-2100px;}
        100% {left:0;}
    }
    @-ms-keyframes slide {
        0% {left:0;}
        16% {left:-470px;}
        32% {left:-870px;}
        48% {left:-1270px;}
        64% {left:-1670px;}
        80% {left:-2100px;}
        100% {left:0;}
    }
    @-o-keyframes slide {
        0% {left:0;}
        16% {left:-470px;}
        32% {left:-870px;}
        48% {left:-1270px;}
        64% {left:-1670px;}
        80% {left:-2100px;}
        100% {left:0;}
    }
    @keyframes slide {
        0% {left:0;}
        16% {left:-470px;}
        32% {left:-870px;}
        48% {left:-1270px;}
        64% {left:-1670px;}
        80% {left:-2100px;}
        100% {left:0;}
    }
}

