@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    /* scroll-behavior: smooth; */
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    transition: all 0.5s ease;
    background: rgb(0, 0, 0);
    padding: 3px 0px;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.navbar .logo a{
    color: white;
    font-size: 25px;
    font-weight: 1000;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: #fff;
    font-size: 17px;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: rgb(167, 0, 0);
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
ul {
    list-style: none;
}
ul .inner {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    padding: 30px;
    overflow: hidden;
    display: none;
}
ul li {
    margin: 20px 10px;
}
ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: white;
    padding: 25px;
    text-decoration: none;
    border: 3px solid  rgb(211, 255, 226);
    border-radius: 5px;
    transition: background 0.3s ease;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
  
ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

#button {
    display: inline-block;
    background-color: rgb(167, 0, 0);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
.clock {
    margin-top: -20px;
    margin-left: 20px;
}
  
.welcome{
    background-color:rgb(0, 0, 0);
    height: 100%;
}
.welc{
    padding: 250px 165px;
    color: white;
}
.welc h1, .about h1{
    font-size: 75px;
}

.welc h2{
    color: rgb(167, 0, 0);
    font-size: 40px;
}
.welc p{
    font-size: 18px;
    line-height: 30px;
    width: 50%;
}
.logo2{
    color: white;
    text-decoration: none;
    font-size: 70px;
}
.overlay {
    color: rgb(255, 255, 255);
    font-size: 20rem;
    opacity: .04;
    pointer-events: none;
    font-style: normal;
    font-weight: bold;
}
.overlay-2 {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -99;
}
.overlay-3 {
    position: absolute;
    top: 70px;
    left: 200px;
    z-index: -99;
}
.overlay-5 {
    position: absolute;
    top: 70px;
    right: 200px;
    z-index: -99;
}
.overlay-1 {
    position: absolute;
    top: 420px;
    left: 0px;
    z-index: -99;
}
.overlay-4 {
    position: absolute;
    top: 620px;
    right: 100px;
    z-index: -99;
}
.overlay-6 {
    position: absolute;
    top: 1100px;
    right: 200px;
    z-index: -99;
}

.klik{
    margin-right: 20px;
    border: 3px rgb(167, 0, 0);
    color: white;
    border-style: solid;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
}
.klik:hover{
    background-color: rgb(167, 0, 0);
    transition: 0.6s;
}
#tema{
    background-color: rgb(167, 0, 0);
    color: white;
    border-style: none;
    border-radius: 7px;
    font-size: 15px;
    text-decoration: none;
    padding: 13px;
}
.what{
    background-color: black;
    color: white;
    height: 100%;
}
.row:after, .isicegah:after {
    content: "";
    display: table;
    clear: both;
}
.isiwhat{
    float: left;
    padding: 80px;
    width: 50%;
}
.isiwhat img{
    margin-left: 150px;
    width: 370px;
    height: 370px;
    filter: brightness(40%);
}
.isiwhat p{
    margin: 40px 120px 0px -110px;
    font-size: 18px;
    line-height: 30px;
}
.what h1, .data h1, .gejala h1{
    color: white;
    font-size: 55px;
    text-align: center;
}
.data{
    background-image: url("https://media.istockphoto.com/vectors/virus-background-of-coronavirus-corona-virus-cell-3d-realistic-in-red-vector-id1213142329?k=6&m=1213142329&s=170667a&w=0&h=4qLCvPbgnGPzLPhfgsg2WsIWI4H4NGBp0cIpKBRJftU=");
    background-size: cover;
    filter: brightness(80%);
    padding: 40px 0px;
    height: 24vh;
    color: white;
}

#talkbubble{
    float: left;
    width: 15%;
    margin-top: 10px;
    margin-left: 80px;
}
#talkbubble2{
    float: left;
    width: 30%;
    margin-left: 90px;
    margin-right: 30px;
}
#talkbubble2 h2{
    font-size: 35px;
    color: rgb(255, 167, 167);
}
#talkbubble p{
    line-height: 30px;
}
.count{
    color: rgb(255, 167, 167);
    font-size: 40px;
    font-weight: bolder;
}
.link{
    color: white;
}
.gejala{
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;
}
.anda{
    font-size: 18px; 
    padding: 0px 430px 0px 430px;
    line-height: 30px;
    text-align: center;
}
.isigejala{
    padding: 100px 165px;
}

#slideshow {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.aa {
    width: 3000px;
    position:relative;
    -webkit-animation:slide 18s ease-in-out infinite;
    -moz-animation:slide 18s ease-in-out infinite;
    -ms-animation:slide 18s ease-in-out infinite;
    -o-animation:slide 18s ease-in-out infinite;
    animation:slide 18s ease-in-out infinite;
}

.aa section {
    width: 500px;
    height: 430px;
    float:left;
}

.aa:hover {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
}
.gjl{
    margin: 0px 60px;
}
.gjl h2{
    font-size: 30px;
}
.gjl img{
    width: 180px;
    height: 180px;
}

@-webkit-keyframes slide {
    0% {left:0;}
    17% {left:-500px;}
    34% {left:-1000px;}
    61% {left:-1500px;}
    78% {left:-2000px;}
    100% {left:0;}
}
@-moz-keyframes slide {
    0% {left:0;}
    17% {left:-500px;}
    34% {left:-1000px;}
    61% {left:-1500px;}
    78% {left:-2000px;}
    100% {left:0;}
}
@-ms-keyframes slide {
    0% {left:0;}
    17% {left:-500px;}
    34% {left:-1000px;}
    61% {left:-1500px;}
    78% {left:-2000px;}
    100% {left:0;}
}
@-o-keyframes slide {
    0% {left:0;}
    17% {left:-500px;}
    34% {left:-1000px;}
    61% {left:-1500px;}
    78% {left:-2000px;}
    100% {left:0;}
}
@keyframes slide {
    0% {left:0;}
    17% {left:-500px;}
    34% {left:-1000px;}
    61% {left:-1500px;}
    78% {left:-2000px;}
    100% {left:0;}
}

.cegah{
    background-color: black;
    color: white;
    height: 100%;
}
.cegah h1{
    font-size: 48px;
}
.isicegah{
    padding: 0px 165px 160px 165px;
}
.column{
    float: left;
    width: 50%;
}
.column p, .column h3{
    width: 90%;
}
.column img{
    /* background-color:  rgb(167, 0, 0);
    padding: 15px;
    border-radius: 50%; */
    margin: 40px 0px 0px 70px;
    width: 120px;
    height: 120px;
}

.footer{
    background: rgb(10, 10, 10);
    color: white;
    padding: 15px 200px 30px 200px;
    line-height: 60px;
    text-align: center;
}
.parent-card2{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    align-items: flex-start;
}
  
.isikontak img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.isikontak img:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
}
.last{
    line-height: 30px;
    color: white;
    text-decoration: none;
}

@media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
}
@media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      height: 370px;
      left: -100%;
      top: 37px;
      display: block;
      padding: 45px 0;
      text-align: center;
      background: rgb(0, 0, 0);
      transition: all 0.6s ease;
    }
    .clock{
        /* display: none; */
        margin-top: 0px;
        margin-left: 0px;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 30px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 400px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }