{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Berita</title>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
<style>
    .container{
        background-color: black;
        color: white;
        padding: 165px;
    }
    .container h1{
        text-align: center;
    }
    .dari{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .card{
        background-color: rgb(66, 0, 0);
        color: white;
        margin: 40px 0px;
        padding: 20px;
        border-radius: 10px;
    }
    .tambah{
        padding: 10px 20px;
        border-color: rgb(167, 0, 0);
        border-style: solid;
        border-radius: 7px;
        color: white;
        text-decoration: none;
    }
    .liatdetail{
        color: white;
        text-decoration: none;
    }
    .liatdetail:hover{
        color: rgb(255, 167, 167);
        transition: 0.5s;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="overlay" style="font-size: 8rem;">
    <div class="overlay-3"><i class='fas fa-virus'></i></div>
</div>
<div class="container">
    <h1>Berita tentang Covid-19</h1>
    {% for daftar in obj %}
        <div class="card">
            <div class="dari">
                <p>{{ daftar.date }} {{ daftar.time }}</p>
                <p><span style="color: rgb(255, 167, 167);">Dari: </span> {{ daftar.name }}</p>
            </div>
            <h2><a class="liatdetail" href="{% url 'berita:detail' id=daftar.id %}">{{ daftar.judul }}</a></h1>
            <!-- <p>{{ daftar.isi }}</p><br>
            <p><span style="color: rgb(255, 167, 167);">Sumber: </span> {{ daftar.url }}</p> -->
        </div>
    {% endfor %}
    <br><br>
    <a class="tambah" href="{% url 'berita:isiberita' %}">Tambah Berita</a>
</div>
{% endblock content %}