{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Berita</title>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<style>
    .container{
        background-color: black;
        color: white;
        padding: 165px;
    }
    .dari{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .isi h1{
        font-size: 40px;
    }
    .isi p{
        font-size: 18px;
    }
    .back{
        padding: 10px 20px;
        border-color: rgb(167, 0, 0);
        border-style: solid;
        border-radius: 7px;
        color: white;
        text-decoration: none;
    }
    .span{
        color: rgb(255, 167, 167);
    }
</style>
{% endblock meta %}

{% block content %}
    <div class="overlay" style="font-size: 8rem;">
        <div class="overlay-5"><i class='fas fa-virus'></i></div>
    </div>
    <div class="container">
    {% if obj %}
        <div class="dari">
            <p>{{ obj.date }} {{ obj.time }}</p>
            <p><span class="span">Dari: </span> {{ obj.name }}</p>
        </div>
        <div class="isi">
            <h1>{{ obj.judul }}</h1><br><br>
            <p>{{ obj.isi }}</p><br><br><br>
            <p><span class="span">Sumber: </span> {{ obj.url }}</p>
        </div>
    {% endif %}
    <br><br>
    <a class="back" href="{% url 'berita:home' %}">Kembali</a>
    </div>
{% endblock content %}