{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Isi Berita</title>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
<style>
    .container{
        padding: 165px 0px;
        background-color: black;
        color: white;
    }
    .container h1{
        text-align: center;
    }
    span{
        font-weight: bolder;
        font-size: 20px;
        line-height: 35px;
    }
    form{
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input, textarea{
        background-color: rgb(209, 209, 209);
        padding: 15px 10px;
        border-radius: 10px;
        border-style: none;
        width: 500px;
        margin-bottom: 30px;
    }
    .button{
        background-color: transparent;
        padding: 10px 20px;
        width: 100px;
        font-size: 18px;
        border-color: rgb(167, 0, 0);
        border-style: solid;
        border-radius: 7px;
        color: white;
        text-decoration: none;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="overlay" style="font-size: 8rem;">
    <div class="overlay-3"><i class='fas fa-virus'></i></div>
    <div class="overlay-6"><i class='fas fa-virus'></i></div>
</div>
<div class="container">
    <h1>Tambah Berita</h1>
    <form method="POST">
        <p><span style="color: rgb(167, 0, 0);">Tanggal</span></p>
        {{ form.date }}
        <p><span style="color: rgb(167, 0, 0);">Waktu</span></p>
        {{ form.time }}
        <p><span style="color: rgb(167, 0, 0);">Nama</span></p>
        {{ form.name }}
        <p><span style="color: rgb(167, 0, 0);">Judul</span></p>
        {{ form.judul }}
        <!-- <p><span style="color: rgb(167, 0, 0);">Gambar</span></p>
        {{ form.gambar }} -->
        <p><span style="color: rgb(167, 0, 0);">Berita</span></p>
        {{ form.isi }}
        <p><span style="color: rgb(167, 0, 0);">Sumber</span></p>
        {{ form.url }}
        {% csrf_token %}
        <br>
        <input class="button" type="submit" value="Submit">
    </form>    
</div>
{% endblock content %}