{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image" href="{% static 'mailogo.png' %}">
  <link rel="stylesheet" href="/static/css/style.css?{% now 'U' %}">
  <link rel="stylesheet" href="/static/css/responsive.css?{% now 'U' %}">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block meta %}
  {% endblock meta %}
</head>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a class="logo" href="{% url 'main:home' %}">BOU<a class="red" href="{% url 'main:home' %}" style="font-size: 26px; color: rgb(167, 0, 0);">VID</a></a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="{% url 'berita:home' %}">Berita</a></li>
        <li><a href="#">Q&A</a></li>
        <li><a href="{% url 'main:logout' %}">Log Out</a></li>
        <li><a id="tema" href="#">Light theme</a></li>
        <li><a><div id="MyClockDisplay" class="clock" onload="showTime()"></div></a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
  <a id="button"></a>

  {% block content %}
  {% endblock content %}
  
         <div class="footer">
            <div class="kontak">
              <h3>You can contact me via :</h3>
              <div class="parent-card2">
                <div class="isikontak">
                  <a href="mailto:ryandirgaaidilhakim@gmail.com?subject=subject&cc=cc@example.com"><img src="https://cdn0.iconfinder.com/data/icons/material-circle-apps/512/icon-email-material-design-512.png"></a>
                </div>
                <div class="isikontak">
                  <a href="https://wa.me/6281287364751"><img src="https://seeklogo.com/images/W/whatsapp-icon-logo-BDC0A8063B-seeklogo.com.png"></a>
                </div>
                <div class="isikontak">
                  <a href="http://line.me/ti/p/~ryandirgaa"><img src="https://seeklogo.com/images/L/line-messenger-logo-F9E667D0A2-seeklogo.com.png"></a>
                </div>
                <div class="isikontak">
                  <a href="https://t.me/ryandirgaa"><img src="https://icons-for-free.com/iconfiles/png/512/media+social+telegram+icon-1320193121598222952.png"></a>
                </div>
              </div>
            </div>
            <hr style="border-color: rgb(167, 0, 0);">
            <p><span>&#169; 2021 BOUVID. All rights reserved</span></p>
          </div>

          <script>
            const body = document.querySelector("body");
            const navbar = document.querySelector(".navbar");
            const menuBtn = document.querySelector(".menu-btn");
            const cancelBtn = document.querySelector(".cancel-btn");
        
            menuBtn.onclick = ()=>{
              navbar.classList.add("show");
              menuBtn.classList.add("hide");
              body.classList.add("disabled");
            }
            cancelBtn.onclick = ()=>{
              body.classList.remove("disabled");
              navbar.classList.remove("show");
              menuBtn.classList.remove("hide");
            }
            window.onscroll = ()=>{
              this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
            }
        </script>
        <script>
            var btn = $('#button');

            $(window).scroll(function() {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });

            btn.on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({scrollTop:0}, '300');
            });
        </script>
        <script>
          function showTime(){
              var date = new Date();
              var h = date.getHours(); // 0 - 23
              var m = date.getMinutes(); // 0 - 59
              var s = date.getSeconds(); // 0 - 59
              var session = "AM";
              
              if(h == 0){
                  h = 12;
              }
              
              if(h > 12){
                  h = h - 12;
                  session = "PM";
              }
              
              h = (h < 10) ? "0" + h : h;
              m = (m < 10) ? "0" + m : m;
              s = (s < 10) ? "0" + s : s;
              
              var time = h + ":" + m + ":" + s + " " + session;
              document.getElementById("MyClockDisplay").innerText = time;
              document.getElementById("MyClockDisplay").textContent = time;
              
              setTimeout(showTime, 1000);
          }
          showTime();
        </script>
        <script>
            $('.count').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 8000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var clicked = false;

            $('#tema').on('click', function() {
                if(clicked){
                    $('.navbar').css('background', 'black');
                    $('.icon').css('color', 'white');
                    $('.menu-list li a').css('color', '#FFFFFF');
                    $('.navbar .menu-list').css('background', 'black');
                    $('.logo').css('color', '#FFFFFF');
                    $('.welcome').css('background-color', '#000000');
                    $('.welc').css('color', '#FFFFFF');
                    $('.overlay').css('color', '#FFFFFF');
                    $('.what').css('background-color', '#000000');
                    $('.what h1').css('color', '#FFFFFF');
                    $('.isiwhat').css('color', '#FFFFFF');
                    $('.logo2').css('color', '#FFFFFF');
                    $('.klik').css('color', '#FFFFFF');
                    $('.data').css('background-color', '#000000');
                    $('.gejala').css('background-color', '#000000');
                    // $('.data h1').css('color', '#FFFFFF');
                    // $('.isidata').css('color', '#FFFFFF');
                    // $('.link').css('color', '#FFFFFF');
                    $('.gejala h1').css('color', '#FFFFFF');
                    $('.gjl').css('color', '#FFFFFF');
                    $('.anda').css('color', '#FFFFFF');
                    $('.cegah').css('background-color', '#000000');
                    $('.column h1').css('color', '#FFFFFF');
                    $('.column p').css('color', '#FFFFFF');
                    $('.container').css('background', 'black');
                    $('.container').css('color', '#FFFFFF');
                    $('input').css('border-style', 'none');
                    $('textarea').css('border-style', 'none');
                    $('.button').css('color', '#FFFFFF');
                    $('.button').css('border-style', 'solid');
                    $('.span').css('color', 'rgb(255, 167, 167)');
                    $('.tambah').css('color', '#FFFFFF');
                    $('.back').css('color', '#FFFFFF');
                    $('.footer').css('background-color', 'rgb(10, 10, 10)');
                    $('.footer').css('color', '#FFFFFF');
                    $('#tema').css('color', '#FFFFFF');
                    $('#tema').text('Light theme');
                    clicked = false;
                }else{
                    $('.navbar').css('background', 'rgb(209, 209, 209)');
                    $('.icon').css('color', 'black');
                    $('.menu-list li a').css('color', '#000000');
                    $('.navbar .menu-list').css('background', 'rgb(209, 209, 209)');
                    $('.logo').css('color', '#000000');
                    $('.welcome').css('background-color', 'rgb(209, 209, 209)');
                    $('.welc').css('color', '#000000');
                    $('.overlay').css('color', '#000000');
                    $('.what').css('background-color', 'rgb(209, 209, 209)');
                    $('.what h1').css('color', '#000000');
                    $('.isiwhat').css('color', '#000000');
                    $('.logo2').css('color', '#000000');
                    $('.klik').css('color', '#000000');
                    // $('.data').css('background-color', 'rgb(209, 209, 209)');
                    // $('.data h1').css('color', '#000000');
                    // $('.isidata').css('color', '#000000');
                    // $('.link').css('color', '#000000');
                    $('.gejala').css('background-color', 'rgb(209, 209, 209)');
                    $('.gejala h1').css('color', '#000000');
                    $('.gjl').css('color', '#000000');
                    $('.anda').css('color', '#000000');
                    $('.cegah').css('background-color', 'rgb(209, 209, 209)');
                    $('.column h1').css('color', '#000000');
                    $('.column p').css('color', '#000000');
                    $('.container').css('background', 'rgb(209, 209, 209)');
                    $('.container').css('color', '#000000');
                    $('input').css('border-style', 'solid');
                    $('textarea').css('border-style', 'solid');
                    $('.button').css('color', '#000000');
                    $('.span').css('color', '#000000');
                    $('.tambah').css('color', '#000000');
                    $('.back').css('color', '#000000');
                    $('.footer').css('background-color', 'rgb(204, 204, 204)');
                    $('.footer').css('color', '#000000');
                    $('#tema').css('color', '#FFFFFF');
                    $('#tema').text('Dark theme');
                    clicked = true;
                };
                return false;
            });
            });

        </script>
</body>

</html>
