{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="overlay" style="font-size: 8rem;">
    <div class="overlay-3"><i class='fas fa-virus'></i></div>
    <div class="overlay-4"><i class='fas fa-virus'></i></div>
</div>
<div class="welcome">
  <div class="welc">
      <div class="destop">
          <div class="overlay">
              <div class="overlay-1">BOUVID</div>
              <div class="overlay-2">COVID</div>
          </div>
      </div>
      <h2>Hi, {{ user.first_name }}</h2>
      <h1>Welcome to <a class="logo2" href="home.html">BOUVID</a>.</h1><br>
      <p>Pandemi Covid-19 masih terjadi hingga saat ini sehingga menghambat aktivitas kita. Untuk itu, marilah kita berjuang dalam mengatasi pandemi ini demi kehidupan yang lebih baik. <a style="color: rgb(167, 0, 0);">#StaySafe #StayAtHome</a></p><br><br>
      <a class="klik" href="{% url 'berita:home' %}">Lihat Berita</a>
  </div>
</div>
<div class="what">
  <h1 style="padding-top: 50px;">What is <a style="color: rgb(167, 0, 0); font-size: 60px;">Covid-19</a> ?</h1><br>
  <p class="anda">Kenali dulu yuk tentang Covid-19.</p>
  <div class="row">
      <div class="isiwhat">
          <img src="https://cdn.pixabay.com/photo/2020/05/22/19/54/corona-5206917_960_720.png">
      </div>
      <div class="isiwhat">
          <p>Covid-19 merupakan suatu penyakit yang disebabkan oleh virus dari golongan coronavirus, yaitu SARS-CoV-2 atau lebih kita kenal sebagai virus Corona. Biasanya, orang yang terkena penyakit ini akan mengalami gangguan pernapasan, dimulai dari gejala ringan seperti flu, hingga infeksi paru-paru.</p>
          <p>Kasus Covid-19 pertama kali ditemukan di Kota Wuhan, Tiongkok pada bulan Desember 2019 yang mana beberapa pasien datang ke salah satu rumah sakit dengan gejala penyakit yang kurang begitu dikenali.</p>
      </div>
  </div>
</div>
<div class="data">
  <div class="isidata">
      <div class="indo">
          <div id="talkbubble2">
              <h2>Data Covid-19 di Indonesia</h2><br>
              <p style="font-size: 16px;">Update terakhir: 15 Januari 2021</p>
              <p style="font-size: 16px;">Sumber: <a class="link" href="https://covid19.go.id/">covid19.go.id</a></p>
          </div>
          <div id="talkbubble">
              <p>Positif</p>
              <span class="count">882418</span>
          </div>
          <div id="talkbubble">
              <p>Sembuh</p>
              <span class="count">718696</span>
          </div>
          <div id="talkbubble">
              <p>Meninggal</p>
              <span class="count">25484</span>
          </div>
      </div>
  </div>
</div>
<div class="gejala">
  <h1 style="padding-top: 100px;"><a style="color: rgb(167, 0, 0); font-size: 60px;">Covid-19</a> Symptoms</h1><br>
  <p class="anda">Anda perlu mengenal gejala-gejala Covid-19 sejak awal agar tidak membahayakan orang di sekitarmu.</p>
  <div class="isigejala">
      <div id="slideshow">
          <div class="aa">
              <section>
                  <div class="gjl">
                      <img src="https://vectorified.com/images/flu-icon-31.png" style="border: 10px white; border-style: solid; border-radius: 50%;">
                      <br><br><h2>Demam</h2><br>
                      <p>Demam merupakan adalah salah satu gejala awal Covid-19 yang mana penderita memiliki suhu tubuh 38 derajat ke atas.</p>
                  </div>
              </section>
              <section>
                  <div class="gjl">
                      <img src="https://image.flaticon.com/icons/png/512/2660/2660009.png" style="background-color: rgb(167, 0, 0); border: 10px white; border-style: solid; border-radius: 50%;">
                      <br><br><h2>Batuk</h2><br>
                      <p>Batuk secara terus menerus menandakan adanya infeksi di paru-paru yang bisa saja disebabkan oleh virus Corona.</p>
                  </div>
              </section>
              <section>
                  <div class="gjl">
                      <img src="https://cdn.pixabay.com/photo/2016/12/16/07/43/headache-1910710_960_720.png">
                      <br><br><h2>Sakit Kepala</h2><br>
                      <p>Biasanya demam yang mana merupakan salah satu gejala Covid-19 dapat disertai dengan sakit kepala.</p>
                  </div>
              </section>
              <section>
                  <div class="gjl">
                      <img src="https://image.winudf.com/v2/image/Y29tLmFuZHJvbW8uZGV2NTk0NjczLmFwcDgxMDU4MF9pY29uXzE1MjkxMzAxODBfMDUz/icon.png?w=170&fakeurl=1" style="border: 10px white; border-style: solid; border-radius: 50%;">
                      <br><br><h2>Sakit Tenggorokan</h2><br>
                      <p>Seringnya batuk-batuk dapat menyebabkan radang serta rasa nyeri pada tenggorokan akibat infeksi virus Corona.</p>
                  </div>
              </section>
              <section>
                  <div class="gjl">
                      <img src="https://cdn.idntimes.com/content-images/post/20200108/1-2-0e1386ef9e10c8213e59408a660b715d.jpg" style="background-color: rgb(167, 0, 0); border: 10px white; border-style: solid; border-radius: 50%;">
                      <br><br><h2>Mudah Lemas</h2><br>
                      <p>Virus Corona dapat menyebar ke seluruh tubuh yang mana akan menguras energi dalam tubuh manusia sehingga dapat membuat cepat lemas.</p>
                  </div>
              </section>
              <section>
                  <div class="gjl">
                      <img src="https://deteksicorona.slemankab.go.id/img/7.png" style="background-color: rgb(167, 0, 0); border: 10px white; border-style: solid; border-radius: 50%;">
                      <br><br><h2>Sesak Nafas</h2><br>
                      <p>Dengan adanya virus Corona yang berkembang dengan cepat di paru-paru, dapat menyebabkan penderita akan merasakan sesak nafas.</p>
                  </div>
              </section>
          </div>
      </div>
  </div>
</div>

<div class="cegah">
  <div class="isicegah">
      <div class="column" style="padding-top: 90px;">
          <h1>How to Prevent <a style="color: rgb(167, 0, 0); font-size: 48px;">Covid-19</a> ?</h1><br><br><br>
          <p>Agar terhindar dari Covid-19, Anda dapat melakukan:</p><br>
          <p style="font-size: 18px; line-height: 30px;">Mencuci tangan, menerapkan social distancing, sanitasi, memakai masker, berolahraga, dan makan makanan sehat.</p>
      </div>
      <div class="column">
          <img src="https://www.caesars.com/content/dam/empire/health-and-safety/icon-health-safety-handwashing-red.png">
          <img src="https://www.caesars.com/content/dam/empire/health-and-safety/icon-health-safety-6ftdistance-red.png">
          <img src="https://www.caesars.com/content/dam/empire/health-and-safety/icon-health-safety-disinfect-red.png">
          <img src="https://www.caesars.com/content/dam/empire/health-and-safety/icon-health-safety-mask-red.png">
          <img src="https://www.pinclipart.com/picdir/big/35-352304_fda-weights-clip-art-weight-weights-icon-png.png" style="filter: brightness(70%);">
          <img src="https://i.pinimg.com/originals/55/ab/71/55ab71f2b31b37395099238d5647b4aa.png" style="filter: brightness(50%);">
      </div>
  </div>
</div>

{% endblock content %}