<head>
    <title>Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Cabin', sans-serif;
            scroll-behavior: smooth;
        }
        body{
            background-color: rgb(0, 0, 0);
            font-family: 'Cabin', sans-serif;
        }
        .login{
            padding: 150px 550px;
            text-align: center;
        }
        .logo{
            font-size: 30px;
            font-weight: bolder;
        }
        .formlogin{
            background-color: rgb(167, 0, 0);
            display: flex;
            flex-direction: column;
            padding: 30px 40px 50px 40px;
            margin: 40px;
            gap: 16px;
            border-radius: 50px;
        }
        input{
            height: 35px;
            font-family: 'Cabin', sans-serif;
            padding: 10px;
            border: 2px solid rgb(20, 20, 20);
            border-radius: 10px;

        }
        .button{
            background-color: black;
            color: rgb(255, 255, 255);
            font-family: 'Cabin', sans-serif;
            padding: 10px;
            border-style: none;
            border-radius: 20px;
        }
        @media (max-width: 1480px) {
            .login{
                padding: 150px 400px;
            }
        }
        @media (max-width: 1200px) {
            .login{
                padding: 150px 300px;
            }
        }
        @media (max-width: 1000px) {
            .login{
                padding: 150px 200px;
            }
        }
        @media (max-width: 800px) {
            .login{
                padding: 150px 100px;
            }
        }
        @media (max-width: 600px) {
            .login{
                padding: 150px 50px;
            }
        }
        @media (max-width: 470px) {
            .login{
                padding: 150px 10px;
            }
        }
        @media (max-width: 330px) {
            body{
                width: 110%;
            }
            .login{
                padding: 150px 5px;
            }
        }
    </style>
</head>

<body>
    <div class="login">
        <a class="logo" style="color: white;">Welcome to BOU<a class="logo" style="font-size: 31px; color: rgb(167, 0, 0);">VID</a></a>
        <form class="formlogin" method="POST" action="">
            <h2 style="color: white;">Login</h2>
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            {% for message in messages %}
                <p style="text-align: center; font-weight: bold; color: white; font-size: 14px">{{message}}</p>
            {% endfor %}
            <button class="button" type="submit">Login</button>
        </form>
        <p class="register" style="color: white;">Don't have an account? <a href="{% url 'main:register' %}" style="color: rgb(167, 0, 0);">Sign Up Now</a></p>
    </div>
</body>
