<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Cabin', sans-serif;
            scroll-behavior: smooth;
        }
        body{
            background-color: rgb(0, 0, 0);
            font-family: 'Cabin', sans-serif;
        }
        .signup{
            padding: 150px 450px;
            text-align: center;
        }
        .logo{
            font-size: 30px;
            font-weight: bolder;
        }
        .formsignup{
            background-color: rgb(167, 0, 0);
            display: flex;
            flex-direction: column;
            padding: 30px 40px 50px 40px;
            margin: 40px;
            gap: 16px;
            border-radius: 50px;
        }
        input, textarea, select{
            height: 40px;
            font-family: 'Cabin', sans-serif;
            padding: 10px;
            border: 2px solid rgb(20, 20, 20);
            border-radius: 10px;

        }
        .button{
            background-color: black;
            color: rgb(255, 255, 255);
            font-family: 'Cabin', sans-serif;
            padding: 10px;
            border-style: none;
            border-radius: 20px;
        }
        @media (max-width: 1480px) {
            .signup{
                padding: 150px 400px;
            }
        }
        @media (max-width: 1200px) {
            .signup{
                padding: 150px 300px;
            }
        }
        @media (max-width: 1000px) {
            .signup{
                padding: 150px 200px;
            }
        }
        @media (max-width: 800px) {
            .signup{
                padding: 150px 100px;
            }
        }
        @media (max-width: 600px) {
            .signup{
                padding: 150px 50px;
            }
        }
        @media (max-width: 470px) {
            .signup{
                padding: 150px 10px;
            }
        }
        @media (max-width: 330px) {
            body{
                width: 110%;
            }
            .signup{
                padding: 150px 5px;
            }
        }
    </style>
</head>

<body>

<div class="signup">
    <a class="logo" style="color: white;">Welcome to BOU<a class="logo" style="font-size: 31px; color: rgb(167, 0, 0);">VID</a></a>
    <form class="formsignup" method="POST" action="" href="">
        <h2 style="color: white;">Sign Up</h2>
        {% csrf_token %}
        {{ form.username }}
        {{ form.first_name }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.image_url }}
        {{ form.gender }}
        {{ form.social_media }}

        {% for error in form.password2.errors %}
            <p class="">{{ error }}</p>
        {% endfor %}

        {% for error in form.username.errors %}
            <p class="">{{ error }}</p>
        {% endfor %}
        
        <button class="button" type="submit"> Register </button>

    </form>
    <p class="register" style="color: white;">Have any account? <a href="{% url 'main:login' %}" style="color:rgb(167, 0, 0);">Log in Now</a></p>
</div>
